@font-face {
    font-family: ayush;
    src: url(./Rejouice-Headline.ttf);
}

@font-face {
    font-family: nb;
    src: url(./NBInternationalProBoo.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "nb";
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #eee;
    /* overflow: hidden; */
    margin: 0;
}

/* Loader style*/

#loader{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: black;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    gap: 10px;
}
#loader h3{
    font-size: 2vw;
    font-weight:500;
}

/* Page1 style*/

#page1 {
    height: 100vh;
    width: 100%;
    /* background-color: #fc0404; */
    position: relative;
}
/*Cursor*/

#cursor {
    height: 7vw;
    width: 7vw;
    background-color: #FF5F38;
    border-radius: 50%;
    position: fixed;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;

}

#cursor h4 {
    font-size: 6vw;
    font-weight: 500;
    color: #f8f7f7;
    font-family: "ayush";
}

#page1 video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}

#page1-content {
    height: 100%;
    width: 100%;
    /* background-color:rgb(0, 0, 0); */
    position: relative;
    z-index: 10;
    color: #f8f7f7;
    mix-blend-mode: hard-light;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

nav {
    /* height: 100px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vw 3vw;
    width: 100%;
    /* background-color: rebeccapurple; */
    mix-blend-mode: difference;
}

nav h3 {
    font-size: 1.3vw;
    font-weight: 100;
    cursor: pointer;
}

nav h4 {
    font-size: 1.3vw;
    font-weight: 100;
    cursor: pointer;
}

#page1-content h1 {
    font-family: "ayush";
    font-size: 26vw;
    font-weight: 100;
    color: #fdfcfc;
    line-height: 23vw;
    align-items: center;
    
}

#page1-content h1 span {
    font-family: "ayush";
    display: inline-block;
}

/*Page2 style*/

#page2 {
    height: 100vh;
    width: 100%;
    background: #EEEEEE;
}

#page2-content {
    height: 100%;
    width: 100%;
    z-index: 11;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 56px 44px;
}

#page2-text {
    display: flex;
    justify-content: space-between;
    font-family: nb;

    color: #333;
    line-height: 1;
    border-bottom: 1px solid #333;
}

#page2-text h3 {
    font-size: 1.43rem;
    font-weight: 120;
    padding-bottom: 18px;
}

#page2-heading {
    display: flex;
    justify-content: center;
    font-family: "ayush";
    color: black;
    padding-top: 19px;
}

#page2-heading h1 {
    font-size: 4vw;
    font-weight: 100;
    letter-spacing: 1.5px;
}

/*Page3 style*/

#page3 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 3vw;
}

#page3-top {
    /* background-color: red; */
    text-align: center;
    padding-top: 70px;
}

#page3-top h4 {
    margin-bottom: 1vw;
    font-size: 1.3vw;
    font-weight: 500;
}

#page3-top h4 span {
    font-size: 0.7vw;
    background-color: black;
    color: #fff;
    padding: 4px 12px;
    border-radius: 10px;
}

#page3-top h2 {
    font-size: 3.5vw;
    font-weight: 500;
    text-decoration: underline;
}

#page3-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10vw;
}

#page3-bottom h3 {
    font-size: 1.6vw;
    font-weight: 100;
    color: #000;
}

#page3-elements {
    height: 74vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.5vw;
    /* background-color: red; */
}

#page3-elements .box {
    height: 100%;
    width: 32.5%;
    /* background-color: wheat; */
    position: relative;
}

#page3-elements .box video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#page3-elements .box img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: all linear 1s;
}

#page3-elements .box:hover img {
    opacity: 0;
}

/*Cursor2 effect*/

#cursor2 {
    height: 7vw;
    width: 7vw;
    background-color: black;
    color: #fff;
    border-radius: 50%;
    position: fixed;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    transform: translate(-50%, -50%);
    opacity: 0;
    scale: 0;
}

#cursor2 h3 {
    font-size: 6vw;
    font-weight: 500;
    font-family: "ayush";
}

/*Page4 style*/

#page4 {
    height: 100vh;
    width: 100%;
    position: relative;

}

#page4-item {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #080808; */
}

#page4-item video {
    height: 100%;
}

#page4-item svg {
    position: absolute;
    height: 55%;
}

#page4-content {
    position: absolute;
    color: #fff;
    text-align: center;
    /* z-index: 10; */
}

#page4-content h2 {
    font-size: 3.5rem;
    font-weight: 500;
    font-family: "ayush";
}

#page4-content h3 {
    font-size: 1.4rem;
    font-weight: 100;
    font-family: "ayush";
}

/*Page5 style*/

#page5 {
    width: 100%;
    height: 100vh;
    position: relative;
    /* max-width: 800px; */
    /* aspect-ratio: 16/9; */
    /* margin: 100px auto; */
    /* overflow: hidden; */
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eee;
    /* border-radius: 60px; */
    /* box-shadow: 0 0 50px rgba(8, 8, 8, 0.7); */
}

#page5 video {
    width: 95%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

/*Page6 style*/

#page6 {
    height: 100vh;
    width: 100%;
    padding: 4vw 0;
    position: relative;
}

#page6 h1 {
    font-size: 10vw;
    font-family: "ayush";
    font-weight: 500;
    border-bottom: 1px solid black;
    width: 96%;
    margin-left: 2%;
}

#swiperdiv {
    height: 60vh;
    width: 100%;
    /* background-color: red; */
    position: relative;
    margin-top: -5%;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background:#eee; */
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.swiper-slide img {
    display: block;
    width: 18%;
    object-fit: cover;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}

/* Footer Styling */
#footer {
    height: 100vh;
    width: 100%;
    border-top: 1px solid #151515;
    padding-top: 3vw;
}

#footer-content {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 6vw;
    align-items: center;
    border-bottom: 1px solid #111;
}

#footer-link {
    height: 100%;
    width: 33.3%;
}

#footer-link h2 {
    margin-bottom: 2vw;
    font-size: 2vw;
    font-weight: 100;
    color: #000;
}

#footer-link ul li {
    list-style-type: none;
    font-size: 1.4vw;
    margin-bottom: 0.5rem;
    text-align: left;
}

#footer-link ul li a {
    text-decoration: underline;
    color: #151515;
}

#footer-link ul li a:hover {
    color: #222;
    text-decoration: underline;
}

#footer-contact {
    height: 100%;
    width: 33.3%;
}

#footer-contact h2 {
    margin-bottom: 2vw;
    font-size: 2vw;
    font-weight: 100;
}

#footer-contact p {
    font-size: 1.1vw;
    margin-bottom: 0.7vw;
    line-height: 1.3;
    color: #000;
}

#footer-contact p:nth-last-child(1) {
    font-size: 1.2vw;
    font-weight: 500;
}

#footer-contact p:nth-last-child(1)>span {
    font-size: 1.1vw;
    font-weight: 600;
}

#footer-contact p a {
    color: #111;
    font-size: 1.2vw;
    padding-left: 0.7vw;
    font-family: "ayush";
    font-weight: 500;
}

#footer-contact p span {
    color: #000;
}

#footer-bottom {
    height: 100%;
    width: 33.3%;
    display: flex;
    flex-direction: column;
}

#footer-bottom h2 {
    margin-bottom: 2vw;
    font-size: 2vw;
    font-weight: 100;
    text-align: center;
}

#socials {
    display: flex;
    justify-content: center;
    align-items: center;
}

#socials a {
    margin-left: 0.6vw;
    text-decoration: none;
    font-size: 1.4vw;
    padding: 0.7vw 0.3vw;
    border-radius: 5px;
    background-color: #000;
    transition: background-color 0.3s ease-in;
}

#socials a i {
    color: #fff;
    margin: 0 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
}

#socials a:hover {
    background-color: #fff;
}

#socials a:hover i {
    color: #000;
}

#footer-text {
    height: 50%;
    width: 100%;
    padding: 0;
    background-color: #111;
    margin: 0;
    color: #fff;
}

#footer-text h1 {
    font-size: 21vw;
    font-weight: 100;
    line-height: 16vw;
    text-align: center;
}

#footer-text h1 span {
    font-family: "ayush";
    display: inline-block;
}